<table class="highlight" style="max-width: 700px">
  <tbody>
    {% for note in notes %}
    <tr>
      <td style="font-size: 20px; color: black">{{note.title}}</td>
      <td class="right">
        <a href="{% url 'note-delete' note.id %}">
          <button class="btn waves-effect red">
            <i class="material-icons">delete</i>
          </button>
        </a>
      </td>
      <td class="right">
        <a class="" href="{% url 'note-update' note.id %}"
          ><button class="btn waves-effect">
            <i class="material-icons">create</i>
          </button>
        </a>
      </td>
      <td class="right">
        <a class="" href="{% url 'note' note.id %}"
          ><button class="btn waves-effect">
            <i class="material-icons">description</i>
          </button>
        </a>
      </td>
    </tr>
    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em">
      <h3>You don't have any notes yet.</h3>
    </div>
    {% endfor %}
  </tbody>
</table>
