{% extends 'assistant/index.html' %} {% block content %}

<nav class="blue nav-extended" style="padding-left: 15px">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Assistant</a>
    <ul
      id="nav-mobile"
      class="right hide-on-med-and-down"
      style="display: flex; align-items: center"
    >
      <li>
        {% if request.user.is_authenticated %}
        <p>Hello, {{request.user|title}}</p>
        {% endif %}
      </li>
      <li>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn waves-effect" style="background-color: #3cb371">
          <i class="material-icons">exit_to_app</i>
        </a>
        {% endif %}
      </li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li><a href="/contacts_list">Contacts</a></li>
      <li class="active"><a href="/notes">Notes</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/files">Files</a></li>
      <li><a href="/aboutUs">About Us</a></li>
    </ul>
  </div>
</nav>
<div style="display: flex; padding: 15px">
  <div>
    <form class="col s12" style="padding: 0">
      <div class="">
        <div class="col s12">
          <div class="input-field inline">
            <input id="email_inline" type="text" name="search_title" autocomplete="off" />
            <label for="email_inline">Search by title</label>
          </div>
        </div>
      </div>
    </form>
    <form class="col s12" style="padding: 0">
      <div class="">
        <div class="col s12">
          <div class="input-field inline">
            <input id="email_inline" type="text" name="search_tag" autocomplete="off" />
            <label for="email_inline">Search by tag </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container" style="padding: 15px">
    <div class="row">
      <div id="noteModal" class="modal">{% include "assistant/notes/notes-modal.html" %}</div>

      <div>
        <button
          class="btn waves-effect right modal-trigger"
          style="margin-bottom: 50px"
          href="#noteModal"
        >
          <i class="material-icons white-text left">add_circle_outline</i>
          Add new note
        </button>
        {% include "assistant/notes/all_notes.html" %}
      </div>
    </div>
  </div>
</div>

<script>
  let elem = document.querySelector('.modal');
  let instance = M.Modal.init(elem);
</script>
{% endblock %}
