{% extends 'assistant/index.html' %} {% block content %}
<nav>
  <div class="blue nav-wrapper">
    <a href="/" class="brand-logo center">Assistant</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/contacts">Contacts</a></li>
      <li><a href="/notes">Notes</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/files">Files</a></li>
      <li class="active"><a href="/aboutUs">About Us</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>hello, this is aboutUs page</h1>
  <p>Anton</p>
  <p>Viktor</p>
  <p>Yurii</p>
</div>

{% endblock %}
