{% extends 'assistant/index.html' %} {% block content %}
<nav class="blue nav-extended" style="padding-left: 15px">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Assistant</a>
    <ul
      id="nav-mobile"
      class="right hide-on-med-and-down"
      style="display: flex; align-items: center"
    >
      <li>
        {% if request.user.is_authenticated %}
        <p>Hello, {{request.user|title}}</p>
        {% endif %}
      </li>
      <li>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn waves-effect" style="background-color: #3cb371">
          <i class="material-icons">exit_to_app</i>
        </a>
        {% endif %}
      </li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li ><a href="/contacts_list">Contacts</a></li>
      <li><a href="/notes">Notes</a></li>
      <li><a href="/news">News</a></li>
      <li class="active"><a href="/files">Files</a></li>
      <li><a href="/aboutUs">About Us</a></li>
    </ul>
  </div>
</nav>
</nav>
<div class="container" style="color: #fff;">
  <h1>Hello! Here you can manage your files</h1>
  <!-- <h3>{{list_of_files}}</h3> -->
</div>
<h3 style="color: #fff;">This is list of all your files</h3>
<table>
  <tr>
    <th style="background-color: rgb(89, 116, 186)">File name</th>
    <th style="background-color: rgb(89, 116, 186)">File type</th>
    <th style="background-color: rgb(89, 116, 186)"></th>
    <th style="background-color: rgb(89, 116, 186)"></th>
      <form action="
      {% url 'files' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
        <label for="file">Choose file to upload</label>
        <input type="file" name="file">
        <input type="hidden" name="operation" value="upload">
        <button type= "submit">Upload</button>
        </form>
  </tr>
  {% for file in list_of_files %}
  <tr>
    <td>{{file.name}}</td>
    <td >{{file.mimeType}}</td>
    <td><form action="
      {% url 'files' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="file_name" value={{ file.name }}>
      <input type="hidden" name="file_id" value={{ file.id }}>
      <input type="hidden" name="operation" value="download">
      <input type="submit" value="Download"> </form>   </td>

    <td><form action="
      {% url 'files' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="file_name" value={{ file.name }}>
      <input type="hidden" name="file_id" value={{ file.id }}>
      <input type="hidden" name="operation" value="delete">
      <input type="submit" value="Delete"> </form>   </td> 

  </tr>
  {% endfor %}
















  
  <!-- <tr>
    <td>Calcutta</td>
    <td style="background-color: yellow">Orange</td>
  </tr>
  <tr>
    <td>Robots</td>
    <td style="background-color: yellow">Jazz</td>
  </tr>
</table> -->

{% endblock %}
