{% extends 'assistant/index.html' %} {% block content %}
<a href="{% url 'notes' %}" style="font-weight: bold"
  ><i class="material-icons teal-text left large">arrow_back</i></a
>
<div class="container">
  <div class="row">
    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p style="font-size: 20px; color: teal">Title:</p>
            <blockquote>
              <p style="list-style: none">{{note.title}}</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p style="font-size: 20px; color: teal">Description:</p>
            <blockquote>
              <p style="list-style: none">{{note.description}}</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p style="font-size: 20px; color: teal">Tags:</p>
            <blockquote>
              <p style="list-style: none">{{note.tagsString}}</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
