{% extends 'assistant/index.html' %} {% block content %}
<nav>
  <div class="blue nav-wrapper">
    <a href="/" class="brand-logo center">Assistant</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/contacts">Contacts</a></li>
      <li class="active"><a href="/notes">Notes</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/files">Files</a></li>
      <li><a href="/aboutUs">About Us</a></li>
    </ul>
  </div>
</nav>

<!-- <div class="container">
<div class="divider"></div>
<section class="sections">
  <h1>hello, this is notes page</h1>
  <button class="btn waves-effect left modal-trigger" href="#noteModal">
    <i class="material-icons white-text left">add_circle_outline</i>
    Add
  </button>
</section>
<div class="divider"></div>
<section class="sections">
  <div id="noteList" class="">{% include "assistant/notes-list.html" %}</div>
</section> -->

<div class="container">
  <div class="divider"></div>
  <div class="section">
    <h1>hello, this is notes page</h1>
    <button class="btn waves-effect left modal-trigger" href="#noteModal">
      <i class="material-icons white-text left">add_circle_outline</i>
      Add
    </button>
  </div>
  <div class="section">
    <div id="noteList" class="">{% include "assistant/notes-list.html" %}</div>
  </div>
</div>
<div id="noteModal" class="modal">{% include "assistant/notes-modal.html" %}</div>
<!-- </div> -->
<script>
  let elem = document.querySelector('.modal');
  let instance = M.Modal.init(elem);
</script>

{% endblock %}
